<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/account/reset.css">
    <link rel="stylesheet" href="/static/css/account/login.css">
</head>
<body>
    <div id="wrap">
        <header id="header">
            <div id="top">
                <div class="sns">
                    <ul>
                        <li><a href="https://www.facebook.com/ikmyeongshop" target="_blank"><img src="/static/img/header/top_btn_sns1.png" alt=""></a></li>
                        <li><a href="https://www.instagram.com/anonymous_ikmsang/" target="_blank"><img src="/static/img/header/top_btn_sns2.png" alt=""></a></li>
                    </ul>
                    <ul>
                        <li><a href="/account/login">로그인</a></li>
                        <li><a href="#">회원가입</a></li>
                        <li><a href="/order/cart">장바구니0</a></li>
                        <li><a href="/mypage/index">마이페이지</a></li>
                        <li><a href="#">고객센터</a></li>
                        <li><a href="#"><img src="/static/img/header/top_btn_search.png" alt=""></a></li>
                    </ul>
                </div>
                <div class="logo">
                    <a href="#"><img src="/static/img/header/event_left.png" alt=""></a>
                    <a href="/main/index"><img src="/static/img/header/logo.png" alt=""></a>
                    <a href="#"><img src="/static/img/header/event_right.png" alt=""></a>
                </div>
                <nav  class="nav">
                    <ul>
                        <li class="nav1"><a href="/goods/goods_list">DOLL</a></li>
                        <li class="nav1"><a href="#">FIGURE & TOY</a></li>
                        <li><a href="#">FANCY</a></li>
                        <li><a href="#">ACCESSORY</a></li>
                        <li><a href="#">LIVING</a></li>
                        <li><a href="#">KITCHEN & BATHROOM</a></li>
                        <li><a href="#">MOBILE</a></li>
                        <li><a href="#">깨꾹이</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <section id="account">
            <div class="location_cont">
                    <em><a class="local_home" href="#">HOME</a> > 로그인</em>
            </div>
            <div class="sub_content">
                <div class="content_box">
                    <div class="member_wrap">
                        <div class="member_tit">
                            <h2>로그인</h2>
                        </div>
                        <div class="member_cont">
                            <form id="formLogin" method="post">
                                <div class="member_login_box">
                                    <h3>회원 로그인</h3>
                                    <div class="login_input_sec">
                                        <div>
                                            <input class="account_input" type="text" id="loginId" name="loginId" placeholder="아이디" required="true" aria-required="true">
                                            <input class="account_input" type="password" id="loginPwd" name="loginPwd" placeholder="비밀번호" required="true" aria-required="true">
                                        </div>
                                        <button type="button" class="login-button">로그인</button>
                                    </div>
                                    <div class="id_chk">
                                        <span class="form_element">
                                            <input type="checkbox" class="saveId" name="saveId">
                                            <label for="saveId">아이디 저장</label>
                                        </span>
                                    </div>
                                </div>
                                <div class="member_sns_login">
                                    <a class="btn_facebook_login" href="#">
                                        <img src="https://cdn-std-web-219-244-godomall.spdycdn.net/classythe8_godomall_com/data/skin/front/designbook_moderntim/img/etc/login_facebook.png" alt="Facebook">
                                        <span>아이디 로그인</span>
                                    </a>
                                    <a class="btn_naver_login" href="#">
                                        <img src="https://cdn-std-web-219-244-godomall.spdycdn.net/classythe8_godomall_com/data/skin/front/designbook_moderntim/img/etc/login_naver.png" alt="네이버">
                                        <span>아이디 로그인</span>
                                    </a>
                                </div>
                                <div class="btn_login_box">
                                    <ul>
                                        <li>
                                            <button class="btn_member_join">회원가입</button>
                                        </li>
                                        <li>
                                            <button class="btn_find_id">아아디 찾기</button>
                                        </li>
                                        <li>
                                            <button class="btn_find_pwd">비밀번호 찾기</button>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                            <form id="formOrderLogin" method="post">
                                <div class="nonmember_order_box">
                                    <h3>비회원 주문조회 하기</h3>
                                    <div class="order_input_sec">
                                        <div class="order_inputs">
                                            <input type="text" name="orderNm" placeholder="주문자명">
                                            <input type="text" name="orderNo" placeholder="주문번호">
                                        </div>
                                        <button type="submit">확인</button>
                                    </div> 
                                   
                                </div>
                                <p class="js_caution_msg2">! 주문번호와 비밀번호를 잊으신 경우, 고객센터로 문의하여 주시기 바랍니다.</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="/static/js/account/login.js"></script>
</body>
</html>