<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/account/reset.css">
    <link rel="stylesheet" href="/static/css/account/register.css">
    <link rel="stylesheet" href="/static/css/account/header.css">
</head>
<body>
    <div id="wrap">
        <header id="header">
            <div id="top">
                <div class="sns">
                    <ul>
                        <li><a href="https://www.facebook.com/ikmyeongshop" target="_blank"><img src="/static/img/account/register/top_btn_sns1.png" alt=""></a></li>
                        <li><a href="https://www.instagram.com/anonymous_ikmsang/" target="_blank"><img src="/static/img/account/register/top_btn_sns2.png" alt=""></a></li>
                    </ul>
                    <ul>
                        <li><a href="/account/login">로그인</a></li>
                        <li><a href="/account/register">회원가입</a></li>
                        <li><a href="/order/cart">장바구니0</a></li>
                        <li><a href="/mypage/index">마이페이지</a></li>
                        <li><a href="#">고객센터</a></li>
                        <li><a href="#"><img src="/static/img/account/register/top_btn_search.png" alt=""></a></li>
                    </ul>
                </div>
                <div class="logo">
                    <a href="#"><img src="/static/img/account/register/event_left.png" alt=""></a>
                    <a href="/main/index"><img src="/static/img/account/register/logo.png" alt=""></a>
                    <a href="#"><img src="/static/img/account/register/event_right.png" alt=""></a>
                </div>
                <nav  class="nav">
                    <ul>
                        <li class="nav1"><a href="/goods/goods_list">DOLL</a></li>
                        <li class="nav1"><a href="#">FIGURE & TOY</a></li>
                        <li><a href="#">FANCY</a></li>
                        <li><a href="#">ACCESSORY</a></li>
                        <li><a href="#">LIVING</a></li>
                        <li><a href="#">KITCHEN & BATHROOM</a></li>
                        <li><a href="#">MOBILE</a></li>
                        <li><a href="#">깨꾹이</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
    <div id="container">
        <div id="contents">
            <div class="location_wrap">
                <div class="location_cont">
                    <em>
                        <a href="#" class="local_home">HOME</a> > 회원가입 > 가입방법 선택
                    </em>
                </div>
            </div>
            <div class="sub_content">
                <div class="content_box">
                    <div class="member_wrap">
                        <div class="member_tit">
                            <h2 class="skip">회원가입</h2>
                        </div>
                        <div class="member_cont">
                            <div class="member_login_box">
                                <div class="member_login_shop">
                                    <a href="/account/join" id="btnJoin" class="shop_mall_join">
                                        <span>쇼핑몰 회원가입</span>
                                    </a>
                                </div>
                                <div class="member_sns_login">
                                    <a href="#" class="btn_facebook_login">
                                        <img src="/static/img/account/register/login_facebook.png" alt="Facebook">
                                        <span>아이디 회원가입</span>
                                    </a>
                                    <a href="" class="btn_naver_login">
                                        <img src="/static/img/account/register/login_naver.png" alt="Naver">
                                        <span>아이디 회원가입</span>
                                    </a>
                                </div>
                                <strong class="chk_none">
                                    <img src="/static/img/account/register/icon_warning.png" class="warning" alt="">
                                    SNS계정을 연동하여 빠르고 쉽고 안전하게 회원가입 할 수 있습니다.
                                    <br>
                                    이 과정에서 고객님의 데이터는 철저하게 보호됩니다.
                                </strong>
                            </div>
                        </div>
                        <div class="member_guide_txt">
                            <p>
                                이미 쇼핑몰 회원이세요?
                                <a href="#" id="btnLoginMember">로그인</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer_wrap">

    </div>
</body>
</html>