* {
    box-sizing: border-box;
}
.goods_view_top {
    display: flex;
    justify-content: center;
    padding: 0px 0px 25px;

    width: 100%;
    height: 100%;

    background-color: #f6f6f6;
}

.location_warp {
    padding: 10px 0px 0px;
}

.location_cont {
    width: 1200px;
    height: 38.5px;

}

select {
    font-size: 11px;
}

.item_photo_info_sec {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    height: 100%;
}

.item_photo_view {
    margin-left: 80px;
    width: auto;
}

.item_info_box {
    width: 492px;
    margin-right: 96px;
}

.item_detail_tit {
    padding: 35px 0px 20px;
    border: none;
    border-bottom: 1px solid #e8e8e8;
}

.item_detail_list dl {
    display: flex;
    align-items: center;
    min-height: 24px;
    padding: 7px 0px 6px;
}

.item_detail_tit h3 {
    font-size: 20px;
}

.item_price strong {
    font-size: 16px;
}

dt {
    margin: 0px 24.5881px 0px 0px;
    width: 123px;
    height: 18px;
}

.item_discount_dn {
    padding: 1px 0 2px 20px;
    background-image: url("/img/Mbutton.png");
    background-repeat: no-repeat;

}

.item_add_option_box {
    padding: 10px 0px 9px;
    border-top: 1px solid #dbdbdb;
}

.btn_choice_box {
    display: flex;
    justify-content: space-around;
    padding: 20px 0px 0px;
    border-top: 1px solid black;
}

.btn_choice_box button {
    border: none;

}

.option_bar {
    width: 344px;
    height: 31px;
}

.benefit_mileage {
    color: #999999;
    font-size: 11px;
}

.dd1 {
    padding: 0px 5px 5px 0px;
}

.btn_gray_small {
    display: flex;
    align-items: center;
    width: 88px;
    height: 24px;
    border: 1px solid gray;
    padding: 0px 0px 0px 11px;
    background-color: white;
}

.btn_gray_small:hover {
    background-color: #f8f8f8;
}

.btn_gray_small em {
    padding: 0px 20px 0px 0px;
    font-size: 11px;
}

#lyDelivery {
    /* display: none; */
    position: relative;
    top: 11px;
    right: 307px;
    z-index: 150;
}

.ly_wrap_delivery_layer {
    position: absolute;
    min-width: 250px;
    text-align: left;
    border: 1px solid #999999;
    background-color: #ffffff;
}

.ly_tit {
    padding: 13px 35px 11px 15px;
    font-size: 12px;
    background-color: #f4f4f4;
    height: 42px;
}

.ly_cont {
    padding: 0px 15px 15px;
    width: 305px;
    height: 167px;
}

.delivery_list li {
    padding: 10px 5px;
    border-bottom: 1px solid #f4f4f4;
    font-weight: bold;
}

.chk_none {
    margin: 10px 0px 0px;
    padding: 5px 0px 0px 19px;
    font-size: 12px;
}

.ly_close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
}